<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanthing.svr.dao.IUnusedIDDao">

    <resultMap id="BaseResultMap" type="cn.lanthing.svr.entity.UnusedIDEntity">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="deviceID" jdbcType="VARCHAR" property="deviceID" />
    </resultMap>

    <select id="getNextDeviceID" resultType="cn.lanthing.svr.entity.UnusedIDEntity">
        select * from unused_device_ids order by id limit 1
    </select>

    <delete id="deleteDeviceID" parameterType="long">
        delete from unused_device_ids where deviceID = #{deviceID}
    </delete>
</mapper>