<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanthing.svr.dao.IUsedIDDao">

    <select id="isValidID" parameterType="long" resultType="java.lang.Boolean">
        select exists(select 1 from used_device_ids where deviceID = #{deviceID})
    </select>
    <insert id="addDeviceID" parameterType="long">
        insert into used_device_ids(deviceID) values (#{deviceID})
    </insert>

</mapper>